outputs/
outputs_ds/
outputs_ds_old_loss/
.python-version
data/
CLAUDE.md
4dstem_ae.egg-info
.pytest_cache
scripts/__pycache__
.DS_Store
m3_learning
py4DSTEM-dev
models/__pycache__
scripts/__pycache__ 
scripts/training/__pycache__
z_reference_code/